

.grid_container{
    width: 100%;
    max-width: 1440px;
    padding: 10px 40px;
    margin: auto;
    background:$Off_white;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "grid_header            grid_header          grid_header"
    "grid_banner            grid_banner          grid_new"
    "grid_sectionBright     grid_readMore        grid_new"
    "grid_numbers_01        grid_numbers_02      grid_numbers_03";
    .grid_header{
        //padding: 10px 0px;
        //background: rgb(216, 101, 101);
        grid-area:grid_header;
    }

    .grid_banner{
        //padding: 10px 0px;
        //background: rgb(216, 101, 101);
        grid-area:grid_banner;
    }

    .grid_sectionBright{
        //padding: 10px 0px;
        //background: rgb(216, 101, 101);
        grid-area:grid_sectionBright;
    }

    .grid_new{
        //padding: 10px 0px;
        //background: rgb(216, 101, 101);
        grid-area:grid_new;
    }

    .grid_readMore{
        //padding: 10px 0px;
        //background: rgb(216, 101, 101);
        grid-area:grid_readMore;
    }

    .grid_numbers_01{
        margin-top:50px;
        //padding: 10px 0px;
        //background: rgb(216, 101, 101);
        grid-area:grid_numbers_01;
    }

    .grid_numbers_02{
        margin-top:50px;
        //padding: 10px 0px;
        //background: rgb(216, 101, 101);
        grid-area:grid_numbers_02;
    }

    .grid_numbers_03{
        margin-top:50px;
        //padding: 10px 0px;
        //background: rgb(216, 101, 101);
        grid-area:grid_numbers_03   ;
    }
}








@media (min-width:320px) and (max-width:423px){
    .grid_container{
        width: 100%;
        max-width:initial;
        padding: 10px 0px;
        margin: auto;
        background:$Off_white;
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
                "grid_header"
                "grid_banner"
                "grid_sectionBright"
                "grid_readMore"
                "grid_new"
                "grid_numbers_01"
                "grid_numbers_02"
                "grid_numbers_03";

    
        .grid_header{
            padding: 10px 0px;
            //background: rgb(216, 101, 101);
            grid-area:grid_header;
        }
    
        .grid_banner{
            padding:10px;
            //background: rgb(216, 101, 101);
            grid-area:grid_banner;

        }
    
        .grid_sectionBright{
            padding: 10px;
            //background: rgb(216, 101, 101);
            grid-area:grid_sectionBright;
        }
    
        
        .grid_readMore{
            padding: 10px;
            //background: rgb(216, 101, 101);
            grid-area:grid_readMore;
        }

        .grid_new{
            padding: 10px;
            //background: rgb(216, 101, 101);
            grid-area:grid_new;
        }
    
    
        .grid_numbers_01{
            margin-top:0px;
            padding: 10px;
            //background: rgb(216, 101, 101);
            grid-area:grid_numbers_01;
        }
    
        .grid_numbers_02{
            margin-top:0px;
            padding: 10px;
            //background: rgb(216, 101, 101);
            grid-area:grid_numbers_02;
    
        }
    
        .grid_numbers_03{
            margin-top:0px;
            padding: 10px;
            //background: rgb(216, 101, 101);
            grid-area:grid_numbers_03   ;
        }
    }
}
